{% extends 'base/base.html' %}

{% block title %}Lista de Proveedores{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Proveedores</h2>
    <a href="{% url 'compra:agregar_proveedor' %}" class="btn btn-link">Agregar nuevo proveedor</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.id }}</td>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.apellido }}</td>
                <td>{{ proveedor.dni }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
